#mainBody {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    flex-basis: 100vh;
    margin: 0px;
    background-color: brown;
}

#upperDiv {
    display: flex;
    flex-basis: 20vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#lowerDiv {
    display: flex;
    flex-basis: 80vh;
    flex-direction: row;
    background-color: black;
}

#rightDiv {
    display: flex;
    flex-basis: 50vw;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#leftDiv {
    display: flex;
    flex-basis: 50vw;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: black;
}

.buttons {
    height: 10vh;
    min-width: 30vh;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    border: 4px solid gray;
    border-radius: 50px;
    
}

li, ul {
    background-color: black;
    color: white;
}


/* Color Classes */

.red {
    background-color: red;
    color: yellow;
}

.blue {
    background-color: blue;
    color: aqua;
}

.green {
    background-color: green;
    color: yellowgreen
}

.orange {
    background-color: orange;
    color: orangered;
}
